body {
  background-color: #1a202c;
  color: #fff;
}

h2 {
  font-size: 2em;
}

input[type=text],
textarea {
  color: black;
}

.container {
  margin: auto;
}

.todo-item {
  display: inline-block;
}

#createTodo {
  background-color: green;
}

.field {
  display: block;

  label {
    display: block;
  }
}

a {
  text-decoration: underline;
}

.todo-body {
  margin: auto;
  padding: 10px;

  #doneTodo {
    float: right;
    background-color: blue;
  }
}
