body {
  background-color: #1a202c;
  color: #fff;
}

input[type=text],
textarea {
  color: black;
}

.todo-item {
  display: inline-block;
}

#createTodo {
  background-color: green;
}

.field {
  display: block;

  label {
    display: block;
  }
}
